.story {
  background: url("/public/images/donor.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.story::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(24, 28, 36, 0.5);
}
